/*GENERAL*/
body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

/*HEADER*/
#header{
    background-color:coral;
}

#nav{
    text-align: center;
    list-style-type: none;
    background-color: rgb(235, 110, 65);
    padding-left: 0;
}
#nav li {
    color: aliceblue;
    display: inline-block;
    padding: 6px 8px 6px 8px; 
}

#nav li:hover {
    background-color: coral;
}
#nav li a {
    color: aliceblue;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding: 15px 0 0 15px;
    color:aliceblue;
    text-transform: uppercase;
}

h2{
   margin-top: 0px;
    text-align: center;
    font-size: 18px;
    color:aliceblue;
    padding-left: 15px;
}
/*CONTENT*/

#content {
    width: 600px;
    margin:30px auto;
}

#content h4 {
    padding-bottom: 2px;
    border-bottom: 1px solid coral;
}

#content h3 {
    margin-bottom: 10px;
}

#content a {
    color: coral;
}

#content a:hover{
    text-decoration: underline;
}

#content img {
    border-radius: 10px;
    max-width: 50%;
    height:auto;
}
