/*GENERAL*/
body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    
}

a {
    color: #000000;
    text-decoration: none;
}

.basic-border-box{
    border: 1px solid black;
    padding: 3px;
    margin: 0px;
}

*{
    box-sizing:border-box;
}
/*GENERAL - PALETTE*/

.primary-color{
    background-color: #79c3ff;
}

/*GENERAL - DISPLAY*/
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/*GENERAL - TEXT*/

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.text-primary-color{
    color:#79c3ff;
}
  
.text-secondary-color{
    color: #51B0FF;
}

.line-through{
    text-decoration: line-through;
}

/******************************************************/

/*HEADER*/
#header h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding: 15px 0 0 15px;
    text-transform: uppercase;
}

#header h2{
   margin-top: 0px;
    text-align: center;
    font-size: 18px;
    padding-left: 15px;
}

#header span {
    text-transform: lowercase;
}

#nav{
    text-align: center;
    list-style-type: none;
}
#nav li {
    display: inline-block;
    padding: 5px;
}

#nav li:hover {
    text-decoration: line-through;
}

/******************************************************/

/*CONTENT*/
#content {
    width: 600px;
    margin:30px auto;
}

#content h4 {
    padding-bottom: 2px;
    border-bottom: 1px solid #51B0FF;;
}

#content a:hover{
    text-decoration: underline;
}

#content img {
    margin: 10px  0;
    border: 1px solid black;
    max-width: 50%;
    height:auto;
}
